.months{
    font-weight: bold;
}

.weekDays{
    text-align: center}

/*
.winter{
    background-color:cornflowerblue;
}

.spring{
    background-color:green;
}

.summer{
    background-color: yellow;
}

.autumn{
    background-color:orange;
}

.previousMonth .nextMonth{
    border-spacing:3px;
    padding: 3px
}*/
